body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:960px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u66_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:618px;
}
#u66 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:618px;
  display:flex;
}
#u66 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u66_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u67_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:21px;
  color:#FFFFFF;
}
#u67 {
  border-width:0px;
  position:absolute;
  left:419px;
  top:9px;
  width:1px;
  height:24px;
  display:flex;
  font-size:21px;
  color:#FFFFFF;
}
#u67 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u67_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u68_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:576px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u68 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:156px;
  height:576px;
  display:flex;
}
#u68 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u68_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u69 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u70_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u70 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:161px;
  width:156px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u70 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u70_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 126, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u70.mouseOver {
}
#u70_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(214, 70, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  font-size:16px;
  text-align:left;
}
#u70.selected {
}
#u70_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u71_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u71 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:201px;
  width:156px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u71 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u71_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 126, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u71.mouseOver {
}
#u71_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(214, 70, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  font-size:16px;
  text-align:left;
}
#u71.selected {
}
#u71_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u72_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u72 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:122px;
  width:156px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u72 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u72_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 126, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u72.mouseOver {
}
#u72_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(214, 70, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  font-size:16px;
  text-align:left;
}
#u72.selected {
}
#u72_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u73_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:42px;
  width:156px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u73 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u73_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 126, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u73.mouseOver {
}
#u73_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(214, 70, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  font-size:16px;
  text-align:left;
}
#u73.selected {
}
#u73_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u74_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(66, 118, 165, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:82px;
  width:156px;
  height:40px;
  display:flex;
  font-size:16px;
  text-align:left;
}
#u74 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 48px;
  box-sizing:border-box;
  width:100%;
}
#u74_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(58, 126, 173, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  -webkit-box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  box-shadow:0px 1px 1px rgba(255, 255, 255, 1);
  font-size:16px;
  text-align:left;
}
#u74.mouseOver {
}
#u74_div.selected {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:156px;
  height:40px;
  background:inherit;
  background-color:rgba(214, 70, 48, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  -webkit-box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  box-shadow:0px 1px 1px rgba(0, 0, 0, 1);
  font-size:16px;
  text-align:left;
}
#u74.selected {
}
#u74_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u75_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:42px;
  background:inherit;
  background-color:rgba(46, 94, 139, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:960px;
  height:42px;
  display:flex;
}
#u75 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u75_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u76_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:11px;
  width:108px;
  height:21px;
  display:flex;
  font-size:18px;
  color:#FFFFFF;
}
#u76 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u76_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u78_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:46px;
  height:30px;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:770px;
  top:5px;
  width:46px;
  height:30px;
  display:flex;
}
#u78 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u78_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:823px;
  top:11px;
  width:40px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u79 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u79_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u80_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:860px;
  top:11px;
  width:40px;
  height:18px;
  display:flex;
  font-family:'PingFang SC ', 'PingFang SC', sans-serif;
  font-weight:200;
  font-style:normal;
  color:#FFFFFF;
}
#u80 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u80_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u81_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:23px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:136px;
  top:12px;
  width:25px;
  height:23px;
  display:flex;
}
#u81 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u81_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u82_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:20px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:929px;
  top:11px;
  width:16px;
  height:20px;
  display:flex;
  font-size:10px;
  color:#FFFFFF;
}
#u82 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u82_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
